# The following snippets create more complex boilerplate code.
# https://github.com/honza/vim-snippets/blob/master/snippets/vue.snippets
snippet vbase
	<script setup lang="ts">
		${0}
	</script>
	<template>

	</template>
